HOST=0.0.0.0
PORT=1337
APP_KEYS=yourKey1Base64,yourKey2Base64,yourKey3Base64,yourKey4Base64
ADMIN_JWT_SECRET=<generate with: openssl rand -base64 32>
API_TOKEN_SALT=<generate with: openssl rand -base64 16>